altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
anyio==3.6.1
asgiref==3.5.2
attrs==21.2.0
CacheControl==0.12.11
cachy==0.3.0
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.6
cleo==1.0.0a5
click==8.1.3
crashtest==0.3.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1.2
django-on-heroku==1.1.2
djangorestframework==3.14.0
dnspython==2.2.1
docopt==0.6.2
dulwich==0.20.46
email-validator==1.3.0
fastapi==0.85.0
filelock==3.8.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httptools==0.5.0
idna==3.2
importlib-metadata==4.13.0
iniconfig==1.1.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
jmespath==0.10.0
jsonschema==4.16.0
keyring==23.9.3
lockfile==0.12.2
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.1
more-itertools==8.14.0
msgpack==1.0.4
orjson==3.8.0
packaging==21.0
paho-mqtt==1.5.1
pbr==5.6.0
pexpect==4.8.0
pip-autoremove==0.10.0
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
poetry==1.2.1
poetry-core==1.2.0
poetry-plugin-export==1.1.1
psycopg2-binary==2.9.4
ptyprocess==0.7.0
py==1.10.0
pycparser==2.21
pydantic==1.10.2
PyJWT==1.7.1
pykwalify==1.8.0
pylev==1.4.0
pyparsing==2.4.7
pyrsistent==0.18.1
pytest==6.2.5
pytest-html==3.1.1
pytest-metadata==1.11.0
python-box==5.4.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.5
pytz==2022.4
PyYAML==5.4.1
requests==2.26.0
requests-toolbelt==0.9.1
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
shellingham==1.5.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
starlette==0.20.4
stevedore==3.4.0
tavern==1.16.1
toml==0.10.2
tomlkit==0.11.5
typing_extensions==4.3.0
ujson==5.5.0
urllib3==1.26.7
uvicorn==0.18.3
uvloop==0.17.0
virtualenv==20.16.5
watchfiles==0.17.0
webencodings==0.5.1
websockets==10.3
whitenoise==6.2.0
xattr==0.9.9
zipp==3.8.1
